<html>
<head>
<meta content-type="text/html" charset="UTF-8">
<title>Test Application</title>
<link rel="stylesheet" type="text/css" href="/static/css/sample.css">
<script src="/static/js/common.js"></script>
</head>

<body>
<form id="form" method="POST">
<header>Test Application</header>
<div id="container">

<table class="sample1">
  <tr>
    <th width="30%">Key</th>
    <th width="70%">Value</th>
<!--    <th width="20%">os_password</th> -->
<!--    <th width="20%">os_auth_url</th> -->
  </tr>
  ${credentials}
</table>

<br>

<table style="width:20%" align="right">
<tr>
<td style="width:50%">
<button type="button" class="sample" onclick="page_load('/cgi-bin/index.py','GET',null)">Cancel</button>
</td>
<td style="width:50%">
<button type="button" class="sample" onclick="if(show_dialog('Do you Save The Scenario?')){page_load('/cgi-bin/edit_credentials.py','POST','form')}">Save</button>
</td>
</tr>
</table>
<br>
</div>
<input type="hidden" name="is_save" value="1"/>
<footer>Copyright (C) 2013 Okinawa Open Laboratory All Rights Reserved.</footer>
</form>
</body>
</html>

