<html>
<head>
<meta content-type="text/html" charset="UTF-8">
<title>Bootstrap for Verification</title>
<link rel="stylesheet" type="text/css" href="../css/sample.css">
<script src="../js/common.js"></script>
</head>

<body>
<div id="container">
<table class="sample1">
  <tr>
    <td>${ErrorMessage}</td>
  </tr>
  <tr>
    <td><button type="button" class="sample" onclick="page_load('index.py','GET',null)">Top</button></td>
  </tr>
</table>
</div>
<footer>Copyright (C) 2013 Okinawa Open Laboratory All Rights Reserved.</footer>
</form>
</body>
</html>

