<html>
<head>
<meta content-type="text/html" charset="UTF-8">
<title>Test Application</title>
<link rel="stylesheet" type="text/css" href="/static/css/sample.css">
<script src="/static/js/common.js"></script>
</head>

<body>
<form id="form" method="POST">
<header>Test Application</header>
<div id="container">

<table class="sample2">
<tr><td><button type="button" class="sample" onclick="page_load('build_scenario.py','POST','form')">Build Scenario</button></td></tr>
<tr><td><button type="button" class="sample" onclick="page_load('edit_credentials.py','POST','form')">Credentials</button></td></tr>
</table>


<table class="sample1">
  <tr>
    <th>Scenario</th>
    <th>Status</th>
    <th>Action</th>
  </tr>
  ${scenario}
</table>

</div>
<footer>Copyright (C) 2013 Okinawa Open Laboratory All Rights Reserved.</footer>
</form>
</body>
</html>

