<html>
<head>
<meta content-type="text/html" charset="UTF-8">
<script src="/static//js/redirect.js"></script>
<script language="javascript">
<!--
	setTimeout("redirect_page('${url}')",5000);
//-->
</script>
</head>
<body>
Being processed ..<br>
I will switch to 5 seconds ..<br>
</body>
</html>
