{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Template Lbaas_agent_Instance: This template builds a Verification Application for VM.",

  "Parameters" : {

    "KeyName" : {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type" : "String"
    },
    "ProvHost" : {
      "Type" : "String"
    },
    "SubnetId" : {
      "Type" : "String",
      "Description" : "Id of an existing subnet"
    },
    "InstanceType" : {
      "Description" : "WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "m1.small",
      "AllowedValues" : [ "m1.tiny", "m1.small", "m1.medium", "m1.large", "m1.xlarge" ],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "LinuxDistribution": {
      "Default": "U12",
      "Description" : "Distribution of choice",
      "Type": "String",
      "AllowedValues" : [ "U12" ]
    }
  },

  "Mappings" : {
    "AWSInstanceType2Arch" : {
      "m1.tiny"    : { "Arch" : "64" },
      "m1.small"    : { "Arch" : "64" },
      "m1.medium"    : { "Arch" : "64" },
      "m1.large"   : { "Arch" : "64" },
      "m1.xlarge"   : { "Arch" : "64" }
    },
    "DistroArch2AMI": {
      "U12"      : { "64" : "U12-x86_64-cfntools-review" }
    }
  },

  "Resources" : {
    "LBAg": {
      "Type": "AWS::EC2::Instance",
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "config" : {
            "services" : {
              "sysvinit" : {
              }
            }
          }
        }
      },
      "Properties": {
        "ImageId" : { "Fn::FindInMap" : [ "DistroArch2AMI", { "Ref" : "LinuxDistribution" },
                          { "Fn::FindInMap" : [ "AWSInstanceType2Arch", { "Ref" : "InstanceType" }, "Arch" ] } ] },
        "InstanceType"   : { "Ref" : "InstanceType" },
        "KeyName"        : { "Ref" : "KeyName" },
        "SubnetId" : { "Ref" : "SubnetId" },
        "AvailabilityZone" : {"Ref": "ProvHost"},
        "UserData"       : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#!/bin/bash -v\n",
          "ifconfig eth0 mtu 1422\n",
          "apt-get install iptraf -y\n",
          "mkdir /usr/lib/verification\n",
          "mkdir /usr/lib/verification/cgi-bin\n",
          "chmod -R 777 /usr/lib/verification\n",
          "cat > /usr/lib/verification/cgi-bin/vmstat.py <<EOF\n",
          "#!/usr/bin/env python\n",
          "# coding: utf-8\n",
          "\n",
          "import os\n",
          "import sys\n",
          "import commands\n",
          "import cgi\n",
          "import cgitb; cgitb.enable()\n",
          "\n",
          "cpu = commands.getoutput(\"vmstat | awk 'NR==3 { print \\$13 \\\\\" \\\\\" \\$14 }'\")\n",
          "print \"Content-type: text/html\\n\"\n",
          "print cpu\n",
          "\n",
          "EOF\n",
          "chmod +x /usr/lib/verification/cgi-bin/vmstat.py\n",
          "cat > /usr/lib/verification/cgi-bin/netstat.py <<EOF\n",
          "#!/usr/bin/env python\n",
          "# coding: utf-8\n",
          "\n",
          "import os\n",
          "import sys\n",
          "import commands\n",
          "import cgi\n",
          "import cgitb; cgitb.enable()\n",
          "\n",
          "stat = commands.getoutput(\"netstat -a | awk ' /ESTABLISHED/ && / *:http / { print \\$4 \\\\\" \\\\\" \\$6}' | grep \\\\\":http\\\\\" | wc -l\")\n",
          "print \"Content-type: text/html\\n\"\n",
          "print stat\n",
          "EOF\n",
          "chmod +x /usr/lib/verification/cgi-bin/netstat.py\n",
          "cat > /usr/lib/verification/cgi-bin/iptraf.py <<EOF\n",
          "#!/usr/bin/env python\n",
          "# coding: utf-8\n",
          "\n",
          "import os\n",
          "import sys\n",
          "import commands\n",
          "import cgi\n",
          "import cgitb; cgitb.enable()\n",
          "\n",
          "path = \"%s/iptraf.log\" % os.getcwd()\n",
          "if os.path.exists(path):\n",
          "        os.remove(path)\n",
          "\n",
          "commands.getoutput(\"sudo iptraf -B -t 5 -i eth0 -L %s\" % path)\n",
          "\n",
          "EOF\n",
          "chmod +x /usr/lib/verification/cgi-bin/iptraf.py\n",
          "cat > /usr/lib/verification/http_server.py <<EOF\n",
          "#!/usr/bin/env python\n",
          "# coding: utf-8\n",
          "\n",
          "import os\n",
          "import sys\n",
          "import urlparse\n",
          "import BaseHTTPServer,CGIHTTPServer\n",
          "\n",
          "def main():\n",
          "   os.chdir(os.path.abspath(os.path.dirname(__file__)))\n",
          "   server_class = BaseHTTPServer.HTTPServer\n",
          "   httpd = server_class((\"0.0.0.0\", 80), CGIHTTPServer.CGIHTTPRequestHandler)\n",
          "   httpd.serve_forever()\n",
          "\n",
          "if __name__ == '__main__':\n",
          "   main()\n",
          "\n",
          "EOF\n",
          "chmod +x /usr/lib/verification/http_server.py\n",
          "cat > /usr/lib/verification/cgi-bin/connect.py <<EOF\n",
          "#!/usr/bin/env python\n",
          "# coding: utf-8\n",
          "\n",
          "import time\n",
          "\n",
          "time.sleep(4)\n",
          "\n",
          "EOF\n",
          "chmod +x /usr/lib/verification/cgi-bin/connect.py\n",
          "/usr/bin/python /usr/lib/verification/http_server.py \\&\n"
        ]]}}
      }
    }
  },

  "Outputs" : {
  }
}
