{
  "AWSTemplateFormatVersion" : "2010-09-09",

  "Description" : "Template Ping_agent_Instance: This template builds a Verification Application for VM.",

  "Parameters" : {

    "KeyName" : {
      "Description" : "Name of an existing EC2 KeyPair to enable SSH access to the instances",
      "Type" : "String"
    },
    "ProvHost" : {
      "Type" : "String"
    },
    "SubnetId" : {
      "Type" : "String",
      "Description" : "Id of an existing subnet"
    },
    "InstanceType" : {
      "Description" : "WebServer EC2 instance type",
      "Type" : "String",
      "Default" : "m1.small",
      "AllowedValues" : [ "m1.tiny", "m1.small", "m1.medium", "m1.large", "m1.xlarge" ],
      "ConstraintDescription" : "must be a valid EC2 instance type."
    },

    "LinuxDistribution": {
      "Default": "U12",
      "Description" : "Distribution of choice",
      "Type": "String",
      "AllowedValues" : [ "U12" ]
    }
  },

  "Mappings" : {
    "AWSInstanceType2Arch" : {
      "m1.tiny"    : { "Arch" : "64" },
      "m1.small"    : { "Arch" : "64" },
      "m1.medium"    : { "Arch" : "64" },
      "m1.large"   : { "Arch" : "64" },
      "m1.xlarge"   : { "Arch" : "64" }
    },
    "DistroArch2AMI": {
      "U12"      : { "64" : "U12-x86_64-cfntools-review" }
    }
  },

  "Resources" : {
    "PingAg": {
      "Type": "AWS::EC2::Instance",
      "Metadata" : {
        "AWS::CloudFormation::Init" : {
          "config" : {
            "services" : {
              "sysvinit" : {
              }
            }
          }
        }
      },
      "Properties": {
        "ImageId" : { "Fn::FindInMap" : [ "DistroArch2AMI", { "Ref" : "LinuxDistribution" },
                          { "Fn::FindInMap" : [ "AWSInstanceType2Arch", { "Ref" : "InstanceType" }, "Arch" ] } ] },
        "InstanceType"   : { "Ref" : "InstanceType" },
        "KeyName"        : { "Ref" : "KeyName" },
        "SubnetId" : { "Ref" : "SubnetId" },
        "AvailabilityZone" : {"Ref": "ProvHost"},
        "UserData"       : { "Fn::Base64" : { "Fn::Join" : ["", [
          "#!/bin/bash -v\n",
          "ifconfig eth0 mtu 1422\n",
          "mkdir /usr/lib/verification\n",
          "mkdir /usr/lib/verification/cgi-bin\n",
          "cat > /usr/lib/verification/cgi-bin/verify.py <<EOF\n",
          "#!/usr/bin/env python\n",
          "# coding: utf-8\n",
          "\n",
          "import os\n",
          "import sys\n",
          "import commands\n",
          "import cgi\n",
          "import cgitb; cgitb.enable()\n",
          "\n",
          "form=cgi.FieldStorage()\n",
          "\n",
          "selfip=form[\"selfip\"].value\n",
          "targetip=\"\"\n",
          "ret=\"\"\n",
          "for key in form.keys():\n",
          "    if (selfip != form[key].value):\n",
          "        targetip=form[key].value\n",
          "        ret+=commands.getoutput(\"ping -c 4 \" + targetip)\n",
          "\n",
          "print \"Content-type: text/html\\n\"\n",
          "print ret\n",
          "EOF\n",
          "chmod -R 777 /usr/lib/verification\n",
          "chmod +x /usr/lib/verification/cgi-bin/verify.py\n"
        ]]}}
      }
    }
  },

  "Outputs" : {
  }
}
